
@font-face {
	font-family: Ubuntu;
	src:url('../fonts/ubuntu/Ubuntu-Regular.ttf');
}

@font-face {
	font-family: lato;
	src:url('../fonts/lato/Lato-Regular.ttf');
}

*{
	padding:0;
	margin:0;
}

html{
	height:100%;
}

body{
	height:100%;
	color:white;
	font-family:Ubuntu;
	font-size:0.9em;
}

/*----------------------------*/
/* PANEL HAUT*/

#panelHaut{
	width:100%;
	height:43px;
	position: absolute;
	top:0;
	background:rgb(30,30,40);
	background: linear-gradient(rgb(30,30,40), rgb(60,60,70));
}

#panelHaut ul li{
	width:130px;
	text-align: center;
	margin-right:-4px;
	padding:13px 0 11px 0;
	display:inline-block;
}

#panelHaut ul li:hover{
	cursor:pointer;
	border-bottom: 3px solid white;
}

/*----------------------------*/
/* PANEL DROITE*/

#panelDroite{
	position:absolute;
	top:43px;
	right:0;
	height:calc(100% - 43px);
	width:350px; /* Changer aussi le width #grilleMap */
	background:rgb(30,30,40);
	padding:0 10px;
}

#panelDroite #informationMap{
	padding-bottom: 15px;
	border-bottom:1px solid rgb(150,150,150);
}

#panelDroite #informationMap div{
	margin: 15px 5px;
}

#panelDroite label{
	display:inline-block;
	width:160px;
	text-align:left;
	margin-right:0px;
}

#panelDroite input{
	font-family:Ubuntu;
	padding:5px;
}

#mapName{
	width:150px;
}
#panelDroite select{
	font-family:Ubuntu;
	padding:5px;
	padding-right:0px;
}

#panelDroite #sectionAssets{
	text-align: center;
}

#panelDroite #fileChooser{
	display:none;
}

#panelDroite #listeAssets{
	width:90%;
	height:40%;
	margin:10px auto;
	border:1px solid rgb(150,150,150);
	padding:5px;
}

.asset{
	width:60px;
	height:60px;
	margin:9px;	
	float:left;
}

#listeAssets .asset:nth-child(1){
	background-image: url('../assets/grass.png');
	background-size: cover;	
}
#listeAssets .asset:nth-child(2){
	background-size: cover;
	background-image: url('../assets/wall.jpg');
}
#listeAssets .asset:nth-child(3){
	background-size: cover;
	background-image: url('../assets/wallAnimDown.png');
}
#listeAssets .asset:nth-child(4){
	background-size: cover;
	background-image: url('../assets/grassTree.png');
}
#listeAssets .asset:nth-child(5){
	background-size: cover;
	background-image: url('../assets/wallTree.png');
}
#listeAssets .asset:nth-child(6){
	background-size: cover;
	background-image: url('../assets/wallTreeAnimeDown.png');
}
#listeAssets .asset:nth-child(7){
	background-size: cover;
	background-image: url('../assets/wallTreeAnimeUp.png');
}
#listeAssets .asset:nth-child(8){
	background-size: cover;
	background-image: url('../assets/wallAnimUp.png');
}


.assetJoueur1{
	background-image: url('../assets/tank1.png');
	background-size: cover;
	margin-left:13px;
}
.assetJoueur2{
	background-image: url('../assets/tank2.png');
	background-position:center;
	background-size: cover;
}

#min, #max{
	width:50px;
}

/*----------------------------*/
/* GRILLE MAP*/

#grilleMap{
	background:rgba(150,150,150,0.8);
	padding-top:43px;
	width:calc(100% - 350px);
	height:calc(100% - 43px);
}

#grilleMap table td{
	width:60px;
	height:60px;
	background-size: cover;
	background-position:center;	
}


#grilleMap table td:hover{
	background:rgba(30,30,40,0.6);
}

#conteneur-grille{
	overflow: auto;
	width:100%;
	height: 100%;
	position: relative;
}

#grilleMap table{
	border-collapse:collapse;
	position:absolute;
	max-width: 100%;
	max-height: 100%;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
}

/*----------------------------*/

h2{
	padding:11.5px;
	text-align: center;
	font-size:1.3em;
}

.box{
	display:none;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	text-align:center;
	background:rgba(0,0,0,0.8);
	padding:20px;
	border-radius:5px;
}

.box button{
	font-family:Ubuntu;
	margin-top:10px;
	padding:10px 35px;
	border:none;
	outline:none;
	border-radius:5px;
}

.box button:hover{
	background:rgb(170,170,170);
}
.box button:active{
	box-shadow:inset 0 0 4px black;
}

